@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  font-family: var(--ff-regular);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-primary);
  color: var(--color-contrast);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ff-regular: "Poppins", "sans-serif";
  --ff-custom: "Fira Code", "monospace";

  --color-primary: #ffffff;
  --color-secondary: #e5e5e5;
  --color-contrast: #393939;
  --color-oss-team: #11d4b1;
  --color-link: #0097a7;

  @media (prefers-color-scheme: dark) {
    --color-primary: #1a1a1a;
    --color-secondary: #2d2d2d;
    --color-contrast: #f5f5f5;
    --color-link: #4dd0e1;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 58ch;
  margin: 2rem auto;
  padding: 1rem 2rem;
}

h1 {
  vertical-align: center;
  text-align: center;
}

p > b.oss {
  color: var(--color-oss-team);
}

a {
  color: var(--color-link);
}

ul li p img {
  width: 1.5rem;
}

@media screen and (max-width: 30rem) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
