@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  font-family: var(--ff-regular);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--color-primary);
  color: var(--color-contrast);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ff-regular: "Poppins", "sans-serif";
  --ff-custom: "Fira Code", "monospace";

  --color-primary: #ffffff;
  --color-secondary: #e5e5e5;
  --color-contrast: #393939;
  --color-oss-team: #11d4b1;

  @media (prefers-color-scheme: dark) {
    --color-primary: #1a1a1a;
    --color-secondary: #2d2d2d;
    --color-contrast: #f5f5f5;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 35rem;
  margin: 2rem auto;
}

h1 {
  vertical-align: center;
  text-align: center;
}

p > b {
  color: var(--color-oss-team);
}
