---
import Layout from "../layouts/Layout.astro";
import Contributors from "../components/Contributors.svelte";

type MarkdownEntry = {
  frontmatter: {
    name: string;
    githubUsername: string;
    message: string;
    description: string;
    programmingInterests: string;
    hobbies: string;
    extraLink: string;
  };
};

const contributors: MarkdownEntry[] = Object.values(
  import.meta.glob("../contributors/sp24/*.md", {
    eager: true,
  }),
);
---

<Layout title="Fall 2024 Contributors | 1st">
  <main>
    <h1>Fall 2024 Contributors</h1>
    <Contributors client:only="svelte" contributors={contributors} />
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

  main {
    max-width: 1024px;
    margin-inline: auto;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }
</style>
