---
import Layout from "../layouts/Layout.astro";
import Contributors from "../components/Contributors.svelte";
import type { Fa2024MarkdownEntry } from "../types";
import Box from "../components/Box.astro";

const contributors: Fa2024MarkdownEntry[] = Object.values(
  import.meta.glob("../contributors/fa24/*.md", {
    eager: true,
  }),
);

const boxStyles = [
  {
    bottom: "4rem",
    left: "4rem",
    backgroundColor: "#333333",
    opacity: 0.4,
    zIndex: -10,
  },
  {
    bottom: "4rem",
    left: "6.25rem",
    backgroundColor: "#035a4f",
    opacity: 0.7,
    zIndex: -10,
  },
  {
    bottom: "6.25rem",
    left: "4rem",
    backgroundColor: "#11d4b1",
    opacity: 0.9,
    zIndex: -10,
  },
  {
    bottom: "4.5rem",
    right: "4rem",
    backgroundColor: "#11d4b1",
    opacity: 0.8,
    zIndex: -10,
  },
  {
    bottom: "4rem",
    right: "7rem",
    backgroundColor: "#035a4f",
    opacity: 0.8,
    zIndex: -10,
  },
];
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
/>

<Layout title="Fall 2024 Contributors | 1st">
  <main>
    {boxStyles.map((boxStyle) => <Box style={boxStyle} float={false} />)}

    <h1>Fall 2024 Contributors</h1>
    <Contributors client:only="svelte" contributors={contributors} />
  </main>
</Layout>

<style>
  main {
    max-width: 1024px;
    margin-inline: auto;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }
</style>
