---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ContributorPopup from "../components/ContributorPopup.svelte";

type MarkdownEntry = {
  frontmatter: {
    name: string;
    githubUsername: string;
    message: string;
    description: string;
    programmingInterests: string;
    hobbies: string;
    extraLink: string;
  };
};

const contributors: MarkdownEntry[] = Object.values(
  import.meta.glob("../contributors/sp24/*.md", {
    eager: true,
  }),
);
---

<Layout title="Fall 2024 Contributors | 1st">
  <ContributorPopup client:only="svelte" />

  <main>
    <h1>Fall 2024 Contributors</h1>
    <section class="contributors">
      {
        contributors.map((contributor) => (
          <div class="contributor">
            <Image
              class="profile-image"
              src={`https://github.com/${contributor.frontmatter.githubUsername}.png`}
              alt="ACM at CSUF Icon"
              width={32}
              height={32}
            />
            <span>{contributor.frontmatter.name}</span>
          </div>
        ))
      }
    </section>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

  main {
    max-width: 1024px;
    margin-inline: auto;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  .contributors {
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .contributor {
    cursor: pointer;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 2px solid rgb(var(--color-secondary));
    background-color: rgba(var(--color-secondary), 0.6);
    transition: background-color 150ms ease;
    font-size: 0.875rem;
    font-weight: 500;
    overflow-x: hidden;
  }

  .contributor:hover {
    background-color: rgba(var(--color-secondary), 0.9);
  }

  .profile-image {
    border-radius: 50%;
  }

  @media screen and (min-width: 640px) {
    .contributors {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .contributor {
      font-size: 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    .contributors {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  @media screen and (min-width: 1024px) {
    .contributors {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
</style>
