---
import Layout from "../layouts/Layout.astro";
---

<Layout title="1st | ACM at CSUF Open Source Software Team">
  <h1>ACM CSUF Open Source Software Team | First Contributions</h1>
  <a href="/1st/sp24">Spring 2024 Contributors</a>
  <a href="/1st/fa24">Fall 2024 Contributors</a>
</Layout>
