---
import Layout from "../layouts/Layout.astro";
import Grid3D from "../components/Grid3D.svelte";

const contributors = Object.values(
  import.meta.glob("../contributors/fa24/*md", { eager: true }),
);
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
/>

<Layout title="Spring 2025 Contributors | 1st">
  <h1>Spring 2025 Contributors</h1>
  <Grid3D client:only="svelte" {contributors} />
</Layout>
