---
import Layout from "../layouts/Layout.astro";
import Spring2026Contributors from "../components/Spring2026Contributors.svelte";

const contributors = Object.values(
  import.meta.glob("../contributors/sp26/*md", { eager: true }),
);
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Slackey&display=swap"
  rel="stylesheet"
/>
<script lang="ts">
  let innerWidth = 0;
  function smallWindow() {
    return innerWidth <= 786;
  }
</script>
<svelte:window bind:innerWidth></svelte:window>

<Layout title="Spring 2026 Contributors | 1st">
  <section class="text-content">
    <svg width="100%" height="256" xmlns="http://www.w3.org/2000/svg">
      <image
        height="256"
        width="100%"
        href="/1st/src/assets/sp26sponge.png"
        style="margin: auto;"
      />
    </svg>
    <p>
      Welcome to <b>First Contributions!</b> This is a website that aims to simplify
      and guide the way beginners make their first contribution to the <span
        class="oss">acmcsufoss</span
      >organization! If you would like to make a contribution to this website,
      follow the instructions in the repository's
      <a
        href="https://github.com/acmcsufoss/1st?tab=readme-ov-file#1st--first-contributions-to-acmcsuf"
        target="_blank"
        >README
      </a>.
    </p>
    <p>
      This semester we have a total of <span class="oss"
        >{contributors.length}</span
      > contributors and we thank each and every one of you for willing to be part
      of this initiative in promoting <span class="oss">Open Source</span> in ACM!!
    </p>
  </section>
  <Spring2026Contributors client:only="svelte" {contributors} />
</Layout>

<style>
  body {
    background: linear-gradient(
      to bottom,
      rgb(97, 187, 216),
      rgb(80, 80, 202),
      rgb(21, 21, 153)
    );
    font-family: "Slackey", sans-serif;
  }
  .text-content {
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    animation: gradientChange 20s ease-in-out infinite;
    background: linear-gradient(
      60deg,
      rgb(var(--color-oss-team)),
      rgb(228, 10, 178),
      rgb(194, 164, 20)
    );
    background-size: 400% 400%; /* Allows for movement */
    background-position: 0% 50%; /* Initial position */
    background-clip: text;
    color: transparent;
    max-width: max-content;
    margin: auto;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 1.25rem;
    margin: auto;
    text-align: center;
  }

  @keyframes gradientChange {
    0% {
      background-position: 0% 50%; /* Start position */
    }
    25% {
      background-position: 100% 50%; /* Move to the right */
    }
    50% {
      background-position: 200% 50%; /* Continue moving */
    }
    75% {
      background-position: 100% 50%; /* Move further */
    }
    100% {
      background-position: 0% 50%; /* Loop back */
    }
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 3.5rem;
    }

    p {
      font-size: 2rem;
    }
  }
</style>
