<footer>
  Developed with 💚 by <a target="_blank" href="https://github.com/acmcsufoss">
    acmcsufoss
  </a>
</footer>

<style>
  footer {
    margin-top: auto;
    padding-top: 4rem;
    font-size: 0.9625rem;
  }
</style>
