---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global> 
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

  :root {
    font-family: var(--ff-regular);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--color-primary);
    color: var(--color-contrast);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --ff-regular: "Poppins", "sans-serif";
    --ff-custom: "Fira Code", "monospace";

    --color-primary: #ffffff;
    --color-secondary: #e5e5e5;
    --color-contrast: #393939;
    --color-oss-team: #11d4b1;
    --color-link: #0097a7;

    @media (prefers-color-scheme: dark) {
      --color-primary: #1a1a1a;
      --color-secondary: #2d2d2d;
      --color-contrast: #f5f5f5;
      --color-link: #4dd0e1;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    max-width: 58ch;
    margin: 2rem auto;
    padding: 1rem 2rem;
  }
</style>
